# Extracting Features for PLS, KNN, and SVC analyses

## Import Packages

In [104]:
import numpy as np
import pandas as pd
import librosa
import os
import glob

## Define functions for first set of features

In [105]:
#function to extract average and variance of 40 mfccs across entire audio clip
def extract_mfccs(song, sr, cutoff= 800, n_mfcc = 40):
    mfccs = librosa.feature.mfcc(y = song, fmin = cutoff, n_mfcc = n_mfcc)
    mfcc_avg = np.mean(mfccs, axis = 1)
    mfcc_var = np.var(mfccs, axis = 1)
    return mfcc_avg, mfcc_var

#function to extract average and variance of 40 mfccs across loudest half second
def extract_hs_mfccs(song, sr, cutoff = 800, n_mfcc = 40):
    max_ampj = np.argmax(abs(song))
    time_start, time_stop = round(max_ampj - sr/4), round(max_ampj + sr/4)
    if time_start < 0:
        time_start, time_stop = 0, round(sr/2)
    if time_stop > len(song):
        time_start, time_stop = len(song) - round(sr/2), len(song)
    mfccs = librosa.feature.mfcc(y = song[time_start:time_stop], fmin = cutoff, n_mfcc = n_mfcc)
    mfccs_hs = librosa.feature.mfcc(y = song[time_start:time_stop], fmin = cutoff, n_mfcc = n_mfcc)
    mfcc_hs_avg = np.mean(mfccs, axis = 1)
    mfcc_hs_var = np.var(mfccs, axis = 1)
    if time_start < 0: 
        return (np.full(20, np.nan), np.full(20, np.nan))
    else: 
        return mfcc_hs_avg, mfcc_hs_var 

# return frequency from file that had the greatest magnitude
def extract_peak_frequency(song, sr, cutoff = 800):
    fft_data = np.fft.fft(song)
    freqs = np.fft.fftfreq(len(song))*sr
    freqs_cut = freqs[freqs > cutoff]
    fft_data_cut = fft_data[freqs > cutoff]
    peak_coefficient = np.argmax(np.abs(fft_data_cut))
    peak_freq = freqs_cut[peak_coefficient]
    return peak_freq

# return frequencies from file that had the mean amplitude and variance
def main_freq(song, cutoff = 800):
    D = np.abs(librosa.stft(song))
    cut = int(float(cutoff)/(librosa.fft_frequencies()[1]))
    D = D[cut:]
    DB = librosa.amplitude_to_db(D, ref=np.max)
    maxmean = np.mean(DB[0,:])
    main_meanfreq = 1
    maxvar = np.var(DB[0,:])
    main_varfreq = 0
    for x in range(1,DB.shape[0]):
        mean = np.mean(DB[x,:])
        var = np.var(DB[x,:])
        if mean > maxmean:
            maxmean = mean
            main_meanfreq = x
        if var > maxvar:
            maxvar = var
            main_varfreq = x    
    return main_varfreq * librosa.fft_frequencies()[1], main_meanfreq * librosa.fft_frequencies()[1] #main_freq and max_mean

def main_freq_and_range(f, sound_range = .5):
    variance = compute_var(remove_low(f))
    maxfreq = np.argmax(variance)
    maxvar = max(variance)
    if variance[maxfreq] != maxvar:
        print ('failed! at file ', f)
        return None

    #find range of frequencies around the max freq where the animal is loud 
    min_freq_range = 0
    max_freq_range = 0
    i=0
    bool_high =True
    bool_low = True
    while bool_high or bool_low:
        if bool_high:
            if maxfreq+i>len(variance)-1:
                max_freq_range = maxfreq+i
                bool_high = False
            elif variance[maxfreq+i] < sound_range*maxvar:
                #print ('max freq range =', (maxfreq+i+64)*librosa.fft_frequencies()[1])
                max_freq_range = maxfreq+i
                bool_high = False
        if bool_low:
            if maxfreq-i<0:
                min_freq_range = 0
                bool_low = False
            elif variance[maxfreq-i] < sound_range*maxvar:
                #print ('min freq range =', (maxfreq-i+64)*librosa.fft_frequencies()[1])
                min_freq_range = maxfreq-i
                bool_low = False
        i = i+1
    size = (max_freq_range+64)/(min_freq_range+64)
    return (maxfreq+64)*librosa.fft_frequencies()[1], size

def remove_low(f):
    song, sr = librosa.load(f)
    D = np.abs(librosa.stft(song))
    #FIND OUT HOW MANY FREQUENCIES WE REMOVED HERE! About 10.7*64, 10.7 is the value of librosa.fft_frequencies()[1] 
    D=D[64:]
    DB = librosa.amplitude_to_db(D, ref=np.max)
    return DB

def compute_var(DB):
    variance = np.zeros(DB.shape[0])
    for x in range(0,DB.shape[0]):
        variance[x] = np.var(DB[x,:])
    return variance

## Pare down dataset to those files in the folder with voice-less audio

In [106]:
df = pd.read_csv('FauxRecordings_Data.csv')
files_in_df = df.cat_num+'_cut.wav'
path = r'FauxRecordings_NoVoice/*.wav'
files_in_novoice = glob.glob(path)
files_in_novoice = [os.path.basename(file) for file in files_in_novoice]

df2 = df[files_in_df.isin(files_in_novoice)]
df2

          cat_num  fam_or_subfam critter_name
0  FauxRecording0      Grillinae      Cricket
1  FauxRecording1  Tettigoniinae     Katyidid
2  FauxRecording2      Cicadidae       Cicada
4  FauxRecording4  Tettigoniinae      Katydid

## Add the mfcc features to the dataframe. Then add four remaining features: max_mean (output of main_freq function above), 'main_freq' and 'range' (outputs of main_freq_and_range), and 'peak_freq' (output of extract_peak_frequency)

In [99]:
path = 'FauxRecordings_NoVoice//'
for i,file in enumerate(df2['cat_num']+'_cut.wav'):
    song, sr = librosa.load(path+file)
    mfccs = extract_mfccs(song, sr)
    mfccs_hs = extract_hs_mfccs(song, sr)
    temp_cat_num = file.split('_')[0]
    for n in range(0,40):
        df2.at[df2.loc[df2['cat_num']== temp_cat_num].index[0], 'mfcc_'+str(n)+'_avg'] = mfccs[0][n]
        df2.at[df2.loc[df2['cat_num']== temp_cat_num].index[0], 'mfcc_'+str(n)+'_var'] = mfccs[1][n]
        df2.at[df2.loc[df2['cat_num']== temp_cat_num].index[0], 'hs_mfcc_'+str(n)+'_avg'] = mfccs_hs[0][n]
        df2.at[df2.loc[df2['cat_num']== temp_cat_num].index[0], 'hs_mfcc_'+str(n)+'_var'] = mfccs_hs[1][n]

4598.25
4598.25
4598.25
4598.25
4598.25
4598.25
4598.25
4598.25
4598.25
4598.25
4598.25
4598.25
4598.25
4598.25
4598.25
4598.25
4598.25
4598.25
4598.25
4598.25
4598.25
4598.25
4598.25
4598.25
4598.25
4598.25
4598.25
4598.25
4598.25
4598.25
4598.25
4598.25
4598.25
4598.25
4598.25
4598.25
4598.25
4598.25
4598.25
4598.25
9412.010992681226
9412.010992681226
9412.010992681226
9412.010992681226
9412.010992681226
9412.010992681226
9412.010992681226
9412.010992681226
9412.010992681226
9412.010992681226
9412.010992681226
9412.010992681226
9412.010992681226
9412.010992681226
9412.010992681226
9412.010992681226
9412.010992681226
9412.010992681226
9412.010992681226
9412.010992681226
9412.010992681226
9412.010992681226
9412.010992681226
9412.010992681226
9412.010992681226
9412.010992681226
9412.010992681226
9412.010992681226
9412.010992681226
9412.010992681226
9412.010992681226
9412.010992681226
9412.010992681226
9412.010992681226
9412.010992681226
9412.010992681226
9412.010992681226
9412.010992681226
9412.010992681226
9412.010992681226
3252.9500000000003
3252.9500000000003
3252.9500000000003
3252.9500000000003
3252.9500000000003
3252.9500000000003
3252.9500000000003
3252.9500000000003
3252.9500000000003
3252.9500000000003
3252.9500000000003
3252.9500000000003
3252.9500000000003
3252.9500000000003
3252.9500000000003
3252.9500000000003
3252.9500000000003
3252.9500000000003
3252.9500000000003
3252.9500000000003
3252.9500000000003
3252.9500000000003
3252.9500000000003
3252.9500000000003
3252.9500000000003
3252.9500000000003
3252.9500000000003
3252.9500000000003
3252.9500000000003
3252.9500000000003
3252.9500000000003
3252.9500000000003
3252.9500000000003
3252.9500000000003
3252.9500000000003
3252.9500000000003
3252.9500000000003
3252.9500000000003
3252.9500000000003
3252.9500000000003
10360.35
10360.35
10360.35
10360.35
10360.35
10360.35
10360.35
10360.35
10360.35
10360.35
10360.35
10360.35
10360.35
10360.35
10360.35
10360.35
10360.35
10360.35
10360.35
10360.35
10360.35
10360.35
10360.35
10360.35
10360.35
10360.35
10360.35
10360.35
10360.35
10360.35
10360.35
10360.35
10360.35
10360.35
10360.35
10360.35
10360.35
10360.35
10360.35
10360.35

,cat_num,fam_or_subfam,critter_name,mfcc_0_avg,mfcc_1_avg,mfcc_2_avg,mfcc_3_avg,mfcc_4_avg,mfcc_5_avg,mfcc_6_avg,...,hs_mfcc_36_var,hs_mfcc_37_avg,hs_mfcc_37_var,hs_mfcc_38_avg,hs_mfcc_38_var,hs_mfcc_39_avg,hs_mfcc_39_var,max_mean,range,main_freq
0,FauxRecording0,Grillinae,Cricket,-129.435150,62.246742,-6.032647,23.458515,-17.166088,16.810387,-15.857244,...,9.357909,2.719859,5.865206,-5.704198,8.843476,4.271734,7.988529,10.766602,1.100503,4597.338867
1,FauxRecording1,Tettigoniinae,Katyidid,-404.522583,-8.704850,19.790049,-8.003279,2.504146,3.371484,-4.156763,...,4.684572,2.290251,3.810404,-1.197838,5.503016,2.866376,8.194205,7956.518555,1.388658,9345.410156
2,FauxRecording2,Cicadidae,Cicada,-92.127205,-70.515411,-113.712387,-2.033062,-20.325291,2.247173,-3.398164,...,6.803023,1.620817,7.871470,1.270771,3.110381,-0.555236,5.919889,2465.551758,2.136612,2917.749023
4,FauxRecording4,Tettigoniinae,Katydid,-364.519714,-14.773803,24.598415,-6.856620,2.444881,-3.155872,-1.182000,...,5.749546,-0.381666,10.958776,-2.059801,9.158955,1.340278,6.964389,9485.375977,1.170732,10712.768555

In [101]:
path = 'FauxRecordings_NoVoice//'
for i,file in enumerate(df2['cat_num']+'_cut.wav'):
    song, sr = librosa.load(path+file)
    A, B = main_freq(song)
    temp_cat_num = file.split('_')[0]
    df2.at[df2.loc[df2['cat_num']== temp_cat_num].index[0], 'max_mean'] = B
    freq, rng = main_freq_and_range(path+file)
    df2.at[df2.loc[df2['cat_num']== temp_cat_num].index[0], 'range'] = rng
    df2.at[df2.loc[df2['cat_num']== temp_cat_num].index[0], 'main_freq'] = freq
    df2.at[df2.loc[df2['cat_num']== temp_cat_num].index[0], 'peak_freq'] = extract_peak_frequency(song=song, sr=sr)

,cat_num,fam_or_subfam,critter_name,mfcc_0_avg,mfcc_1_avg,mfcc_2_avg,mfcc_3_avg,mfcc_4_avg,mfcc_5_avg,mfcc_6_avg,...,hs_mfcc_37_avg,hs_mfcc_37_var,hs_mfcc_38_avg,hs_mfcc_38_var,hs_mfcc_39_avg,hs_mfcc_39_var,max_mean,range,main_freq,peak_freq
0,FauxRecording0,Grillinae,Cricket,-129.435150,62.246742,-6.032647,23.458515,-17.166088,16.810387,-15.857244,...,2.719859,5.865206,-5.704198,8.843476,4.271734,7.988529,10.766602,1.100503,4597.338867,4598.250000
1,FauxRecording1,Tettigoniinae,Katyidid,-404.522583,-8.704850,19.790049,-8.003279,2.504146,3.371484,-4.156763,...,2.290251,3.810404,-1.197838,5.503016,2.866376,8.194205,7956.518555,1.388658,9345.410156,9412.010993
2,FauxRecording2,Cicadidae,Cicada,-92.127205,-70.515411,-113.712387,-2.033062,-20.325291,2.247173,-3.398164,...,1.620817,7.871470,1.270771,3.110381,-0.555236,5.919889,2465.551758,2.136612,2917.749023,3252.950000
4,FauxRecording4,Tettigoniinae,Katydid,-364.519714,-14.773803,24.598415,-6.856620,2.444881,-3.155872,-1.182000,...,-0.381666,10.958776,-2.059801,9.158955,1.340278,6.964389,9485.375977,1.170732,10712.768555,10360.350000

In [102]:
df2.head(4)

,cat_num,fam_or_subfam,critter_name,mfcc_0_avg,mfcc_1_avg,mfcc_2_avg,mfcc_3_avg,mfcc_4_avg,mfcc_5_avg,mfcc_6_avg,...,hs_mfcc_37_avg,hs_mfcc_37_var,hs_mfcc_38_avg,hs_mfcc_38_var,hs_mfcc_39_avg,hs_mfcc_39_var,max_mean,range,main_freq,peak_freq
0,FauxRecording0,Grillinae,Cricket,-129.435150,62.246742,-6.032647,23.458515,-17.166088,16.810387,-15.857244,...,2.719859,5.865206,-5.704198,8.843476,4.271734,7.988529,10.766602,1.100503,4597.338867,4598.250000
1,FauxRecording1,Tettigoniinae,Katyidid,-404.522583,-8.704850,19.790049,-8.003279,2.504146,3.371484,-4.156763,...,2.290251,3.810404,-1.197838,5.503016,2.866376,8.194205,7956.518555,1.388658,9345.410156,9412.010993
2,FauxRecording2,Cicadidae,Cicada,-92.127205,-70.515411,-113.712387,-2.033062,-20.325291,2.247173,-3.398164,...,1.620817,7.871470,1.270771,3.110381,-0.555236,5.919889,2465.551758,2.136612,2917.749023,3252.950000
4,FauxRecording4,Tettigoniinae,Katydid,-364.519714,-14.773803,24.598415,-6.856620,2.444881,-3.155872,-1.182000,...,-0.381666,10.958776,-2.059801,9.158955,1.340278,6.964389,9485.375977,1.170732,10712.768555,10360.350000

In [103]:
#Save the features and classifying labels to a csv file
df2.to_csv('FauxRecording_Data_w_Features.csv', index=False)